cffi>=1.17.1
colorama>=0.4.6
cycler>=0.12.1
dnspython>=2.7.0
flask-bcrypt>=1.0.1
future>=1.0.0
gunicorn>=23.0.0
mysql-connector-python>=9.1.0
protobuf>=5.29.1
pyparsing>=3.2.0
python-dateutil>=2.9.0.post0
simple-pid>=2.0.1